
body{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    
}
h1
{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size:  3.2rem;
    line-height: 1.5;

}
h2
{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size:  3rem;
    line-height: 1.5;
}
h3{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 900;
}

p{
    color: #8f8f8f;
}
.container-fluid
{  
    padding: 4% 15%;
  
} 
#title
{
    background-color: #ff4c67;
    color: white;
}

.navbar{
padding: 0 0 4.5rem 0;
}

.navbar-brand
{
font-family: "Ubuntu";
font-size: 2.5rem;
font-weight: bold;
}

.nav-item
{
    padding: 0 5%; 
}

.nav-link
{
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 400;
}

.download-button
{

    margin: 0% 0% 0% 2%;
}

.title-image
{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    left: 15%;
}

#features
{
    padding: 7% 15%; 
    /* Relative allows the element to be in the flow  where as absolute removes it from the flow*/
    position: relative;
    /* z-index: 1; */
    background-color: white;
}
.feature-box
{
  text-align: center;
  padding: 5%;
}

.icon
{
    color: #ef8172;
    padding: 0 0 1rem 0;

}
.icon:hover{
color: #ff4c68
}

#testimonials
{
   
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image
{
    width: 10%;
    border-radius: 100%;
    margin: 1%;
}

#press
{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
    
}

.press-logo
{
    width:15%;
    margin:2%;
}

.carousel-item
{
    padding: 7% 15%;
}

#pricing
{
    text-align:center;
    padding: 7%;
    margin : 10%;
}

.pricing-column
{
padding: 3% 2%;
}


.btn-signup
{
    margin-top: 21%;
}


#cta
{
  background-color: #ff4c68;  
  color: white;
  padding: 7% 15%;
  text-align: center;

}

.cta-head
{
    font-family: "Montserrat";
    font-weight: 900;
    font-size:  3rem;
    line-height: 1.5;
}

#footer
{
    padding: 7% 15%; 
    text-align: center;

}

.social-icon
{
    margin: 2% 2%;
}

@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }

}
